.reserve-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .reserve-form div {
    display: flex;
    flex-direction: column;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  button {
    grid-column: 1 / span 2;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #219150;
  }
  