<form class="reserve-form">
    <div>
      <label>Tipo de Tutoría</label>
      <input type="text">
    </div>
    <div>
      <label>Tutor</label>
      <input type="text">
    </div>
    <div>
      <label>Dirección</label>
      <input type="text">
    </div>
    <div>
      <label>Modalidad</label>
      <select>
        <option>Presencial</option>
        <option>Virtual</option>
      </select>
    </div>
    <div>
      <label>Fecha</label>
      <input type="date">
    </div>
    <div>
      <label>Hora</label>
      <input type="time">
    </div>
    <div>
      <label>Temática</label>
      <textarea></textarea>
    </div>
    <div>
      <label>Valor</label>
      <input type="number">
    </div>
    <button type="submit">Reservar</button>
  </form>
  