<form class="form-grid">
    <div>
      <label>Nombres</label>
      <input type="text">
    </div>
    <div>
      <label>Apellidos</label>
      <input type="text">
    </div>
    <div>
      <label>Dirección</label>
      <input type="text">
    </div>
    <div>
      <label>Teléfono</label>
      <input type="text">
    </div>
    <div>
      <label>Email</label>
      <input type="email">
    </div>
    <div>
      <label>Fecha de Nacimiento</label>
      <input type="date">
    </div>
    <div>
      <label>Ocupación</label>
      <select>
        <option>Estudiante</option>
        <option>Docente</option>
        <option>Administrativo</option>
      </select>
    </div>
  </form>
  