/* CSS básico para layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .sidebar {
    position: fixed;
    top: 50px; /* Ajuste para que no se sobreponga con la navbar */
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #111;
    padding-top: 20px;
  }
  
  .sidebar a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #575757;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 50px; /* Ajuste para que el contenido no se sobreponga con la navbar */
  }
  
  footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  